header {
  background-color: var(--primary);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;

  a {
    color: inherit;
    text-decoration: none;
  }

  .ativo {
    display: none;
  }
}

main {
  background-color: #fcfcfc;
  padding: var(--padding);
}

.paginationcontainer{
  margin: 0 auto;
  width: 500px;
}

.sectionContainer{
  max-width: 1000px;
  margin: 0 auto;
}
