.app-button-search{
  & > .button{
    border-radius: 5px;
    border-color: black;
    background-color: lightgray;
  }

  &.-pagination{
    & > .button{
      border-radius: 50px;
      border-color: blue;
    }

    & > .button:disabled{
      background-color: black;
    }
  }
}
