.app-button-search{
  & > .button{
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    color: white;
  }

  &.-pagination{
    & > .button{
      border-radius: 50px;
    }

    & > .button:disabled{
      opacity: 0.65;
      cursor: not-allowed;
    }
  }
}
